<!DOCTYPE html>
<head>
    <title>Paper Approvals</title>
    <script src="/static/htmx.min.js" ></script>
    <script src="/static/htmx-json-enc.js" ></script>
</head>

<body>
    <h1>Paper Approvals</h1>
    {% if logged_in %}
    <table>
        <thead>
            <tr>
                <th>Paper ID</th>
                <th>DOI</th>
                <th>Title</th>
                <th>Approve</th>
                <th>Display</th>
            </tr>
        </thead>
        <tbody>
        {% for paper in papers %}
            <tr id='row-id-{{ paper.id }}'>
                {% include "paper.html" %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <a href="/github_login?redirect_uri=approve&scope=read:org">GitHub Login</a>
    {% endif %}
    <!-- <script>htmx.logAll()</script> -->
</body>
